<div>
  <ul>
    <li><a href="{{ url_for('index') }}">Выход</a></li>
    <li><a href="{{ url_for('create_publish', id=id_url) }}">Создать публикацию</a></li>
      <li><a href="{{ url_for('my_publish', id=id_url) }}">Мои публикации</a></li>
  </ul>
</div>
<div>
    <p>
        Ползователь: {{  user.query.filter_by(id=pub.users_id).one_or_none().username }}<br>
        Заголовок: {{ pub.title_article }}<br><br>
        Публикация:<br> {{ pub.text_article }}<br><br>
        Кол просмотров: {{look}}<br>
        Дата: {{ pub.create_on }}<br>

        <p>Comment: <br>
        {% for c in comments %}

            {% if c.publish_id == pub.id %}
                {{  user.query.filter_by(id=c.users_id).one_or_none().username }} {{c.create_on}}<br>{{c.comment}} <br><br>
            {% endif %}
        {% endfor %}</p>


        <form method="post" action="/create_comment/{{hi}}/{{pub.id}}">

            <label for="comment">Comment </label><input id="comment" name="comment" placeholder="Comment here!" type="text">
            <button type="submit">Sent</button>
        </form>
         <form method="post">
      <input type="hidden" id="like" name="like" value="1">{{like.total}}
      <input type="submit" value="Class">
    </form>
    </p>
</div>
