<div>
    {{ msg }}<br>
    <form method="Post">
        <p><label for="name">Напишите вашу имю</label>
        <input type="text" id="name" name="name"></p>
        <p> <label for="email">Напишите вашу эектроннную почту</label>
        <input type="email" id="email" name="email"></p>
        <p><label for="password">Напишите вашу пороль</label>
        <input type="password" id="password" name="password"></p>
        <input type="submit" value="Зарегистрировация">
    </form>
    <a href="{{ url_for('login') }}">Вход</a>
</div>